html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    max-width: 100%;
}
body {
  font-family: Arial, Verdana, sans-serif;
}

p {
  width: 872px;
  margin: 0 0 40px;
  color: #333;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

h2 {
  color: #333;
  font-size: 40px;
  line-height: 46px;
  margin: 0 0 10px;
}

h3 {
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  margin: 0 0 10px;
}

figure {
  font-size: 0;
}

/* --------------------------------------------------- Main menu -------------------------------------------------------*/
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #070217;
}
.logo {
  margin-bottom: 20px;
}

.main-menu {
  display: inline-block;
  margin-bottom: 50px;
  padding: 24px 49px;
}

.main-link:first-child{
  margin-right: 25px;
}

.main-link {
  display: inline-block;
  width: 200px;
  height: 80px;
  font-weight: 700;
  font-size: 18px;
  background-color: #3f2aff;
  text-align: center;
  padding: 30px 0;
}

.download-link{
  color: #3f2aff;
  font-size: 18px;
  font-weight: 700;
  background-image: url("img/download-icon.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px 20px;
  padding-left: 30px;
}


/********************************************************************************************************/
.container {
  margin: 0 auto;
  padding: 50px 20px;
  width: 1170px;
  max-width: 100%;
}

.article-title{
  color: #333;
  font-weight: 400;
  font-size: 60px;
  line-height: 1em;
}

.article-content {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
  margin-bottom: 40px;
  background-position: center right;
  background-size: 200px 100px;
  background-repeat: no-repeat;
}

.article-content-image{
  background-image: url("https://w7.pngwing.com/pngs/729/575/png-transparent-computer-icons-book-open-book-angle-reading-heart.png");
}

.article-content p {
  width: 692px;
  margin-bottom: 10px;
}

.article-content:not(:last-child) {
  margin-bottom: 40px;
}

.article-ins {
  border-radius: 20px;
  padding: 50px 95px;
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  color: white;
  background-color: #3f2aff;


}


.article-list {
  padding-left: 15px;
}

.article-list a {
  color: blueviolet;
  font-size: 20px;
  border-bottom: 1px solid blueviolet;

}

.article-list li::marker{
  color: blueviolet;
}

.article-list li:not(:last-child) {
  margin-bottom: 20px;
}

.article-image{
  margin-bottom: 40px;
}

figure {
  display: inline-block;
  width: 872px;
  margin: 0 0 40px;
}

figcaption {
  border: 1px solid #b6b6b6;
  border-top: 0;
  padding: 19px 0;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

/*******-----------------------------------------------------MODULES--------------------------------------------------------------****/

.nav-item {
  color: #3F2AFF;


  background-image: url("img/Arrow.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 35px;
  padding-left: 41px;

}

.modules-title {
  color: #3F2AFF;
  font-weight: 700;
  font-size: 60px;
}

.cards{
  margin-bottom: 50px;
}

.cards-holder {
  display: flex;
}

.card {
  position: relative;
  width: 572px;
  height: 505px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1) ;

}

.card:not(:last-child) {
  margin-right: 25px;
  margin-bottom: 25px;
}

.card-wrapper {
  padding: 25px;

}

.card-title {
  color: #3F2AFF;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
}



.card-dsc {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 165%;
}

.card-number {
  color: #EAEAEA;
  position: absolute;
  font-weight: 400;
  font-size: 40px;
  bottom: 25px;
  right: 25px;
}

.modules-more {
  text-align: center;
}

.modules-more-link {
  display: inline-block;
  padding: 24px 75px;
  border: 2px solid #3F2AFF;
  color: #3F2AFF;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
